.about_image {
  width: 100%;
}
.aboutUS_staking_backcolor{
    background-color: #93e9e9 !important;
    border-radius: 25px;
}
.steps_text_format{
  font-size:45px;
  font-weight: 700;
  color:#93e9e9;
}
.about_button_earning{
  align-items: center !important;
  padding: 8px 24px !important;
  border-radius: 16px !important;
  border: 1px solid #93e9e9 !important;
  background: 0 0 !important;
  font-size: 14px !important;
  color: #fff !important;
  font-family: sans-serif !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  background-color: #423c33 !important;
  text-decoration: none !important;
  outline: none !important;
}
