.review_imgae {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.outside_border {
  border: 1px solid lightgray !important;
}
.Review_heding{
    font-size: 25px;
    color:black;
    font-weight: 600;
}
